.root {
    -fx-background-color: #042934;
}

.button.pit-button, .button.store-button {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-background-color: #0e89af;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-radius: 0;
}

.button.pit-button.animated:hover {
    -fx-background-color: #7AB2B2;
    -fx-border-color: #8b7005;
    -fx-cursor: hand;
    -fx-transition: 0.3s;
}

.button.pit-button:hover {
    -fx-background-color: #088395;
    -fx-cursor: default;
}

.bottom-label {
    -fx-text-fill: #EBF4F6;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px 5px 10px;
}

.player-label {
    -fx-text-fill: #EBF4F6;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px 5px 10px;
}

.side-pane {
    -fx-background-color: #074254;
}

.engine-toggle {
    -fx-background-radius: 20px;
    -fx-padding: 5 15 5 15;
    -fx-font-family: "Segoe UI Semibold", sans-serif;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.engine-toggle:not(:selected) {
    -fx-background-color: #3e4a59; /* Gri/Koyu arka plan */
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-radius: 20px;
}

.engine-toggle:selected {
    -fx-background-color: #64afe1; /* Mavi arka plan */
    -fx-border-color: #f1c40f; /* Altın sarısı kenarlık */
    -fx-border-width: 1;
    -fx-border-radius: 20px;
}

.engine-toggle:hover {
    -fx-opacity: 0.9;
}

.newgame-root-pane {
    -fx-background-color: #074254;
}

.newgame-menu-label {
    -fx-text-fill: #8b7005;
    -fx-font-weight: bold;
}

.newgame-menu-radio {
    -fx-text-fill: #8b7005;
    -fx-font-weight: bold;
}

.newgame-menu-combo {
    -fx-background-color: #088395;
    -fx-text-base-color: #8b7005;
    -fx-mark-color: #8b7005;
}

.newgame-start-button {
    -fx-background-color: #7AB2B2;
    -fx-text-fill: #8b7005;
    -fx-font-weight: bold;
}